<!doctype html>
<html lang="en" ng-app='mainApp' >
	<head>
	 <meta charset="utf-8" />
		<title >Design Authority</title>
		<link rel="shortcut icon" href="grayicon.gif" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="author" content="" />
		<meta name="copyright" content=""/>
		<meta name="description" content=""/>
		<meta name="keywords" content="">
		<meta name="robots" content="index,follow"/>

		<!-- mobile -->
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="format-detection" content="telephone=yes"/>


		<!-- STYLESHEETS  -->


      <!-- TYPEKIT  -->
    <script src="https://use.typekit.net/nxy8fov.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

 	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/stylesheet.css"/>
	<link rel="stylesheet" href="css/font-awesome.css"/>
		
     

		<!-- scripts -->
		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
		<script>if(typeof jQuery=="undefined"){document.write('<script src="js/jquery-2.2.4.min.js"><\/script>');}</script>

		<script src="js/angular.min.js"></script>
		<script src="js/angular-sanitize.min.js"></script>
		<script src="js/app.js"></script>
        <script src="js/js.js" asynch></script>
        <script src="js/controllers.js"></script>
        


    <!-- FB share buttons -->
<meta property="og:url" content="http://designauthority.co" />
<meta property="og:image:width" content="size" />
<meta property="og:image:height" content="size" />
<meta property="og:title" content="Design Authority" />
<meta property="og:description" content="Design Skills and Tests" />
<meta property="og:image" content="http://designauthority.co/images/design_authority_desktop.gif" />

	</head>
	<body >

		<div class="page_wrapper" ng-controller="mainController" >
			<section class="section intro active">
				<div class="section_content">
					
                    
                   <!-- 	 
                    <div class="close_button section_close set_condition" alt="don't show intro next time I visit">
						<div class="dontshow">don't show again</div>
					</div>
                    --!>
                    
                    
                    
					<div class="container">
<!-- 						<div class="intro_header ">

							<h1 class="page_title">
								<span class="cd-headline slide">
									<span class="cd-words-wrapper" style="width: 100px;">
										<b class="animated is-visible" >Editorial</b>
										<b class="animated ">Logo</b>
										<b class="animated ">Poster</b>
										<b class="animated ">Motion</b>
										<b class="animated ">Design</b>
									</span>
								</span>
								<span class="text">Authority</span>
							</h1>
						</div> -->
						<div class="intro_content">What kind of <br> designer are you?</div>
						<div class="intro_detail">Take our 25 question quiz to find out...</div>
						<!-- <div class="graphs"></div> -->
					</div>
				</div>
			</section>
			<span class="next_link_container">
				<img class="next_link section_close" src="images/homepage_half_yellow_circle_desktop_arrow.svg" />
			</span>
			<section class="section quiz">
				<div class="section_content">
					<div class="question_element intro active">
						<p>
						This quiz measures your natural abilitites to suggest a graphic design speciality you may be well suited for. A high score does <em>not</em> you mean you’ll be good at that specialty without practice. Even the most talented designers are lousy when they’re beginners. Enjoy!
						</p>
						<div class="buttons questionone">
							<button class="button start_quiz_button">Start Quiz</button>
						</div>
					</div>

					<div class="questions">
						<div class="question_element question" ng-repeat="question in questions">
							<img class="question_background" ng-src="images/{{question.background}}" />
							<div class="question_content">
								<div class="question_number">Q: {{$index+1}}/{{questions.length}}</div>
								<p>{{question.question}}</p>
								<div class="buttons">
									<button class="quiz_control arrow prev" ng-class="{disabled:$first}"></button>
									<button class="quiz_control button quiz_button next" data-score="{{question.score_1}}" data-areas="{{question.aptitude_1}}">{{question.option_1}}</button>


									<button class="quiz_control button quiz_button next" data-score="{{question.score_2}}" data-areas="{{question.aptitude_2}}">{{question.option_2}}</button>
									<button class="quiz_control arrow next disabled"></button>
								</div>
								<!-- <a class="quiz_control question_control clear_question disabled">Clear Answer</a> -->

							</div>
						</div>

					</div>
					<a class="quiz_control question_control start_over disabled">Start Over</a>

					<div class="question_element done">
						<p>Thank you. Now computing your results...</p>
					</div>
				</div>


			<!-- ======================== TEST OUTPUT=================================== -->

				<div class="form-overlay form-hide">
					<div class="form-container">
						<form class="form form-mailchimp" action="http://designbynumbers.us10.list-manage.com/subscribe/post?u=ff9d7f1c1285796c09b1565e5&id=c952984d69&SIGNUP=Design_Authority" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
							<div class="form-close">
								<a href="javascript:;" class="form_close_button"><img src="images/close.svg"></a>
							</div>
							<div class="form-title">
								<span class="title">Free Design Bundle</span>
								<span class="title-detail">Over 100 textures, illustrations, and photos!</span>
							</div>
							<div class="form-group">
								<input id="group_512" class="av-checkbox" type="checkbox" value="1" name="group[8089][512]" data-dojo-type="dijit/form/CheckBox" checked="" style="display:none">
								<input type="hidden" name="b_ff9d7f1c1285796c09b1565e5_c952984d69" tabindex="-1" value="">
								<input id="form_email" type="email" name="EMAIL"  placeholder="Enter email address" />
								<input id="form_submit" type="submit" name="subscribe" value="GET IT">
							</div>
						</form>
						<!-- <span></span> -->
					</div>
				</div>

			<!-- 	================================== END =========================== -->
			</section>
			<section class="section results ">
				<div class="section_content">
					<h3 class="section_title"><span class="text">You tested well in the following field(s):</span></h3>
					<div class="fields">
						<div class="field {{aptitude.area}}" ng-repeat="aptitude in aptitudes | filter:{type: 'aptitude'}" >
							<div class="field_graph_wrapper" data-target="{{aptitude.area}}">
								<div class="field_graph" data-score="0">
									<span class="check fa fa-check"></span>
									<div class="graph_wrapper"></div>
								</div>
							</div>
							<span class="field_label" data-target="{{aptitude.area}}">
								<div class="text rotate">{{aptitude.area.replace("_"," ")}}</div>
								<svg class="pointer"  x="0px" y="0px" width="11.743px" height="5.872px" viewBox="0 0 11.743 5.872" enable-background="new 0 0 11.743 5.872" xml:space="preserve">
									<polygon points="0,5.872 5.871,0 11.743,5.872 "/>
								</svg>
							</span>
						</div>
					</div>

					<div class="field_details">
						<div ng-repeat="aptitude in aptitudes " class="field_detail {{aptitude.area}}"   >
							<div class="field_section field_description">
								<h3 class="field_title">{{aptitude.name}}<span class="icon fa fa-check"></span></h3>
								<div class="columns">
									<p ng-repeat="paragraph in aptitude.description"><span class="tested_well_for">You tested well for {{aptitude.name}}. </span><b>
									{{paragraph.split("::").length==2?paragraph.split("::")[0]+':':''}}</b>{{paragraph.split("::").length==2?paragraph.split("::")[1]:paragraph.split("::")[0]}}</p>
								</div>
							</div>


							<div class="field_section field_designers">
								<h4 class="section_title"><span class="text">Notable Designers in this field:</span></h4>
								<div class="designers">
									<span class="arrow_wrapper prev"><span class="designer_arrow prev"></span></span>
									<div class="designer_wrapper">
										<div class="designer" ng-repeat="designer in aptitude.designers" ng-class="{active: $first}">
											<img class="image"  ng-src="images/designers/{{designer.image}}" />
											<div class="designer_info">
												<h4 class="name">{{designer.name}}</h4>
												<div class="designerskills">{{designer.skills}}</div>
												<a class="link" target="_blank" href="{{designer.link}}">{{designer.link.split("/")[2]}}</a>
											</div>
										</div>
									</div>
									<span class="arrow_wrapper next"><span class=" designer_arrow next"></span></span>
								</div>
							</div>




                            	<div class="field_section field_examples">
								<h4 class="section_title"><span class="text">{{aptitude.field_section_title}}</span></h4>
								<div class="examples">
									<div class="example" ng-repeat="example in aptitude.examples">
										<img class="image"  ng-src="images/examples/{{example.image}}" />
										<img class="himage"  ng-src="images/examples/{{example.himage}}" style="display: none;" />
										<div class="example_info">
											<h4 class="name">{{example.name}}</h4>
											<a class="link" target="_blank" href="{{example.link}}">{{example.link.split("/")[2]}}</a>
										</div>
									</div>
									<button class="button all_examples">View All</button>
								</div>
							</div>

						




							<div class="field_section field_balance">
								<h4 class="section_title"><span class="text">You may be happiest in this setting:</span></h4>
								<div class="balance {{balance.area}}" ng-repeat="balance in aptitudes | filter:{type: 'balance'}">
									<h3 class="field_title">{{balance.name}}</h3>
									<div class="columns">
										<p ng-repeat="paragraph in balance.description" ng-bind-html="paragraph"></p>
									</div>
								</div>
							</div>



							<div class="field_section field_focus">
								<h4 class="section_title"><span class="text">In terms of focus, you might be a:</span></h4>
								<div class="focus {{focus.area}}" ng-repeat="focus in aptitudes | filter:{type: 'focus'}">
									<h3 class="field_title">{{focus.name}}</h3>
									<div class="columns">
										<p ng-repeat="paragraph in focus.description">{{paragraph}}</p>
									</div>
								</div>
							</div>

	
                            <!-- SHARE YOUR RESULTS-->
                            
                            <div class="field_section field_social">
								<h4 class="section_title"><span class="text">Share your results!</span></h4>
								
                                <div class="social_share">
<p>I just ranked highly for <span class="high_area"></span>  at <a style="text-decoration: underline;color:black;" href="http://designauthority.co">DesignAuthority.co</a>

<a href="/apple/ios-10.0/bar-chart/">
<img class=" lazyloaded" src="http://emojipedia-us.s3.amazonaws.com/cache/60/97/6097c7a81999d32051b0ddb8bfd80103.png" data-src="http://emojipedia-us.s3.amazonaws.com/cache/60/97/6097c7a81999d32051b0ddb8bfd80103.png" data-srcset="http://emojipedia-us.s3.amazonaws.com/cache/88/38/883834c9b00178175ab98f3e7e6895d4.png 2x" alt="Bar Chart on Apple " width="60" height="60" srcset="http://emojipedia-us.s3.amazonaws.com/cache/88/38/883834c9b00178175ab98f3e7e6895d4.png 2x">
</a>

<a href="/apple/ios-10.0/person-raising-both-hands-in-celebration/">
<img class=" lazyloaded" src="http://emojipedia-us.s3.amazonaws.com/cache/7b/20/7b2026ae3ff281b2c16b2fea5c0bbfe4.png" data-src="http://emojipedia-us.s3.amazonaws.com/cache/7b/20/7b2026ae3ff281b2c16b2fea5c0bbfe4.png" data-srcset="http://emojipedia-us.s3.amazonaws.com/cache/a5/0a/a50a48b61c725dab05fd7a537df1374e.png 2x" alt="Person Raising Both Hands in Celebration on Apple " width="60" height="60" srcset="http://emojipedia-us.s3.amazonaws.com/cache/a5/0a/a50a48b61c725dab05fd7a537df1374e.png 2x">
</a>
</p>
</div>


<div class="social_share_buttons">

<!-- Twitter Button -->
<a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet?text=I'm loving the color palettes at&amp;url=http://designauthority.co/&amp;related=twitterapi%2Ctwitter" target="_blank" aria-label="Twitter">
<div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--medium"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">

<svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g>
<path d="M23.444,4.834c-0.814,0.363-1.5,0.375-2.228,0.016c0.938-0.562,0.981-0.957,1.32-2.019c-0.878,0.521-1.851,0.9-2.886,1.104 C18.823,3.053,17.642,2.5,16.335,2.5c-2.51,0-4.544,2.036-4.544,4.544c0,0.356,0.04,0.703,0.117,1.036 C8.132,7.891,4.783,6.082,2.542,3.332C2.151,4.003,1.927,4.784,1.927,5.617c0,1.577,0.803,2.967,2.021,3.782 C3.203,9.375,2.503,9.171,1.891,8.831C1.89,8.85,1.89,8.868,1.89,8.888c0,2.202,1.566,4.038,3.646,4.456 c-0.666,0.181-1.368,0.209-2.053,0.079c0.579,1.804,2.257,3.118,4.245,3.155C5.783,18.102,3.372,18.737,1,18.459 C3.012,19.748,5.399,20.5,7.966,20.5c8.358,0,12.928-6.924,12.928-12.929c0-0.198-0.003-0.393-0.012-0.588 C21.769,6.343,22.835,5.746,23.444,4.834z"/>
</g>
</svg></div> Tweet</div>
</a>

<!-- Facebook Button -->
<a class="resp-sharing-button__link" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" target="_blank" aria-label="Facebook">
<div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--medium"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--whitesolid">
<svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g>
<path d="M18.768,7.465H14.5V5.56c0-0.896,0.594-1.105,1.012-1.105s2.988,0,2.988,0V0.513L14.171,0.5C10.244,0.5,9.5,3.438,9.5,5.32 v2.145h-3v4h3c0,5.212,0,12,0,12h5c0,0,0-6.85,0-12h3.851L18.768,7.465z"/>
</g>
</svg></div> Share</div>
</a>

								</div>
							</div>








						</div>




						<div class="field_section field_close">

						</div>

						<div class="contact_section">
							<p> For more design help, visit <a href="http://designbynumbers.io">Design by Numbers</a></p>
						</div>
					</div>


				</div>

			</section>

		</div>

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86658910-1', 'auto');
  ga('send', 'pageview');

</script>


	</body>
	<template class="graph_template" style="display: none;">
		<svg class="graph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<rect x="0.094" y="153.041" class="line" width="24.969" height="1"/>
			<rect x="0.062" y="156.041" class="line" width="24.969" height="1"/>
			<rect x="0.062" y="159.041" class="line" width="24.969" height="1"/>
			<rect x="0.094" y="144.041" class="line" width="24.969" height="1"/>
			<rect x="0.062" y="147.041" class="line" width="24.969" height="1"/>
			<rect x="0.062" y="150.041" class="line" width="24.969" height="1"/>
			<rect x="0.094" y="171.041" class="line" width="24.969" height="1"/>
			<rect x="0.062" y="174.041" class="line" width="24.969" height="1"/>
			<rect x="0.062" y="177.041" class="line" width="24.969" height="1"/>
			<rect x="0.094" y="162.041" class="line" width="24.969" height="1"/>
			<rect x="0.062" y="165.041" class="line" width="24.969" height="1"/>
			<rect x="0.062" y="168.041" class="line" width="24.969" height="1"/>
			<rect x="0.078" y="189.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="192.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="195.05" class="line" width="24.969" height="1"/>
			<rect x="0.078" y="180.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="183.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="186.05" class="line" width="24.969" height="1"/>
			<rect x="0.078" y="207.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="210.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="213.05" class="line" width="24.969" height="1"/>
			<rect x="0.078" y="198.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="201.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="204.05" class="line" width="24.969" height="1"/>
			<rect x="0.07" y="225.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="228.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="231.041" class="line" width="24.969" height="1"/>
			<rect x="0.07" y="216.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="219.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="222.041" class="line" width="24.969" height="1"/>
			<rect x="0.07" y="243.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="246.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="249.041" class="line" width="24.969" height="1"/>
			<rect x="0.07" y="234.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="237.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="240.041" class="line" width="24.969" height="1"/>
			<rect x="0.055" y="261.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="264.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="267.05" class="line" width="24.969" height="1"/>
			<rect x="0.055" y="252.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="255.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="258.05" class="line" width="24.969" height="1"/>
			<rect x="0.055" y="279.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="282.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="285.05" class="line" width="24.969" height="1"/>
			<rect x="0.055" y="270.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="273.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="276.05" class="line" width="24.969" height="1"/>
			<rect x="0.129" y="9" class="line" width="24.969" height="1"/>
			<rect x="0.098" y="12" class="line" width="24.969" height="1"/>
			<rect x="0.098" y="15" class="line" width="24.969" height="1"/>
			<rect x="0.129" class="line" width="24.969" height="1"/>
			<rect x="0.098" y="3" class="line" width="24.969" height="1"/>
			<rect x="0.098" y="6" class="line" width="24.969" height="1"/>
			<rect x="0.129" y="27" class="line" width="24.969" height="1"/>
			<rect x="0.098" y="30" class="line" width="24.969" height="1"/>
			<rect x="0.098" y="33" class="line" width="24.969" height="1"/>
			<rect x="0.129" y="18" class="line" width="24.969" height="1"/>
			<rect x="0.098" y="21" class="line" width="24.969" height="1"/>
			<rect x="0.098" y="24" class="line" width="24.969" height="1"/>
			<rect x="0.113" y="45.01" class="line" width="24.969" height="1"/>
			<rect x="0.082" y="48.01" class="line" width="24.969" height="1"/>
			<rect x="0.082" y="51.01" class="line" width="24.969" height="1"/>
			<rect x="0.113" y="36.01" class="line" width="24.969" height="1"/>
			<rect x="0.082" y="39.01" class="line" width="24.969" height="1"/>
			<rect x="0.082" y="42.01" class="line" width="24.969" height="1"/>
			<rect x="0.113" y="63.01" class="line" width="24.969" height="1"/>
			<rect x="0.082" y="66.01" class="line" width="24.969" height="1"/>
			<rect x="0.082" y="69.01" class="line" width="24.969" height="1"/>
			<rect x="0.113" y="54.01" class="line" width="24.969" height="1"/>
			<rect x="0.082" y="57.01" class="line" width="24.969" height="1"/>
			<rect x="0.082" y="60.01" class="line" width="24.969" height="1"/>
			<rect x="0.105" y="81" class="line" width="24.969" height="1"/>
			<rect x="0.074" y="84" class="line" width="24.969" height="1"/>
			<rect x="0.074" y="87" class="line" width="24.969" height="1"/>
			<rect x="0.105" y="72" class="line" width="24.969" height="1"/>
			<rect x="0.074" y="75" class="line" width="24.969" height="1"/>
			<rect x="0.074" y="78" class="line" width="24.969" height="1"/>
			<rect x="0.105" y="99" class="line" width="24.969" height="1"/>
			<rect x="0.074" y="102" class="line" width="24.969" height="1"/>
			<rect x="0.074" y="105" class="line" width="24.969" height="1"/>
			<rect x="0.105" y="90" class="line" width="24.969" height="1"/>
			<rect x="0.074" y="93" class="line" width="24.969" height="1"/>
			<rect x="0.074" y="96" class="line" width="24.969" height="1"/>
			<rect x="0.09" y="117.01" class="line" width="24.969" height="1"/>
			<rect x="0.059" y="120.01" class="line" width="24.969" height="1"/>
			<rect x="0.059" y="123.01" class="line" width="24.969" height="1"/>
			<rect x="0.09" y="108.01" class="line" width="24.969" height="1"/>
			<rect x="0.059" y="111.01" class="line" width="24.969" height="1"/>
			<rect x="0.059" y="114.01" class="line" width="24.969" height="1"/>
			<rect x="0.09" y="135.01" class="line" width="24.969" height="1"/>
			<rect x="0.059" y="138.01" class="line" width="24.969" height="1"/>
			<rect x="0.059" y="141.01" class="line" width="24.969" height="1"/>
			<rect x="0.09" y="126.01" class="line" width="24.969" height="1"/>
			<rect x="0.059" y="129.01" class="line" width="24.969" height="1"/>
			<rect x="0.059" y="132.01" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="288.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="300.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="303.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="306.041" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="291.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="294.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="297.041" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="318.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="321.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="324.041" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="309.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="312.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="315.041" class="line" width="24.969" height="1"/>
			<rect x="0.031" y="336.05" class="line" width="24.969" height="1"/>
			<rect y="339.05" class="line" width="24.969" height="1"/>
			<rect y="342.05" class="line" width="24.969" height="1"/>
			<rect x="0.031" y="327.05" class="line" width="24.969" height="1"/>
			<rect y="330.05" class="line" width="24.969" height="1"/>
			<rect y="333.05" class="line" width="24.969" height="1"/>
			<rect x="0.031" y="354.05" class="line" width="24.969" height="1"/>
			<rect y="357.05" class="line" width="24.969" height="1"/>
			<rect y="360.05" class="line" width="24.969" height="1"/>
			<rect x="0.031" y="345.05" class="line" width="24.969" height="1"/>
			<rect y="348.05" class="line" width="24.969" height="1"/>
			<rect y="351.05" class="line" width="24.969" height="1"/>
			<rect x="0.078" y="363.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="366.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="369.05" class="line" width="24.969" height="1"/>
			<rect x="0.07" y="381.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="384.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="387.041" class="line" width="24.969" height="1"/>
			<rect x="0.07" y="372.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="375.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="378.041" class="line" width="24.969" height="1"/>
			<rect x="0.07" y="399.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="402.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="405.041" class="line" width="24.969" height="1"/>
			<rect x="0.07" y="390.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="393.041" class="line" width="24.969" height="1"/>
			<rect x="0.039" y="396.041" class="line" width="24.969" height="1"/>
			<rect x="0.055" y="417.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="420.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="423.05" class="line" width="24.969" height="1"/>
			<rect x="0.055" y="408.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="411.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="414.05" class="line" width="24.969" height="1"/>
			<rect x="0.055" y="435.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="438.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="441.05" class="line" width="24.969" height="1"/>
			<rect x="0.055" y="426.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="429.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="432.05" class="line" width="24.969" height="1"/>
			<rect x="0.023" y="444.05" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="456.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="459.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="462.041" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="447.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="450.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="453.041" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="474.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="477.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="480.041" class="line" width="24.969" height="1"/>
			<rect x="0.047" y="465.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="468.041" class="line" width="24.969" height="1"/>
			<rect x="0.016" y="471.041" class="line" width="24.969" height="1"/>
			<rect x="0.031" y="492.05" class="line" width="24.969" height="1"/>
			<rect y="495.05" class="line" width="24.969" height="1"/>
			<rect y="498.05" class="line" width="24.969" height="1"/>
			<rect x="0.031" y="483.05" class="line" width="24.969" height="1"/>
			<rect y="486.05" class="line" width="24.969" height="1"/>
			<rect y="489.05" class="line" width="24.969" height="1"/>
			<rect x="0.031" y="510.05" class="line" width="24.969" height="1"/>
			<rect y="513.05" class="line" width="24.969" height="1"/>
			<rect y="516.05" class="line" width="24.969" height="1"/>
			<rect x="0.031" y="501.05" class="line" width="24.969" height="1"/>
			<rect y="504.05" class="line" width="24.969" height="1"/>
			<rect y="507.05" class="line" width="24.969" height="1"/>
		</svg>
	</template>

</html>
